::-webkit-scrollbar {
    width: 10px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.navyclr {
    color: #001f3f;
    font-weight: bolder;
    font-size: 1.3rem;
}

.navyclr span {
    color: #034587;
    font-weight: bold;
}


.texttoleft {
    text-align: left;
}

@media (max-width: 768px) {
    .texttoleft {
        text-align: justify;
        width: 80vw;
        margin: auto;
        font-size: 0.7rem;
    }
}