*{
  margin: 0;
  padding: 0;

}
.container{
  background-color: rgb(247, 247, 241);
}
.container {
  width: 640px;
  margin: auto;
  padding: 20px;
  color: black;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
 
}
.container hr{
  height: 2px;
  border: none;
  background-color: black;

}
.container h1{
  font-size: 5rem ;
  font-weight: 800;
 
}
.container h2{
  font-size: 27px;
  font-weight: 500;

}
.container ul li{
  display: flex;
  align-items: center;
  padding-left: 22px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  cursor: pointer;
}



.btn {
 
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.index {
  margin-top: 20px;
  font-style: italic;
}
.correct{
  background: rgb(53, 182, 30);
  border-color: rgb(0, 174, 29);
} 
.wrong{
  background-color: rgb(175, 82, 82);
  border-color: red;
}